<%- include("partials/header") -%>


<div class="signup-container">
  <h1>Signup</h1>

  <form class="signup-form" action="/signup" method="post">
    <input type="text" name="username" placeholder="Email">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="lname" placeholder="Last Name">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="repassword" placeholder="Confirm Password"/>
    <button type="submit" name="button">Signup</button>
  </form>

</div>



<%- include("partials/footer") -%>
